user-dirs.locale
user-dirs.dirs
monitors.xml
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
yelp
transmission
tiling-assistant
pulse
paperwm
nautilus
nvim.bak
menus/applications-merged
libreoffice/4/user
gtk-2.0
gtk-3.0
gtk-4.0
google-chrome
gedit
gSnap
evolution/sources
enchant
dconf
cef_user_data/WidevineCdm
autostart
JetBrains/IdeaIC2023.2
GIMP/2.10
Code
ibus/bus
qtile/__pycache__
